<!DOCTYPE html>
<html th:replace="~{layout/masterLayout :: layout(~{::main})}" lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<main role="main">
  <div class="container">
    <h1 class="text-center display-3 mt-5">Home Page</h1>
    <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquid at esse id illum impedit ipsum magnam magni maxime, neque nostrum obcaecati optio, possimus quas quod repudiandae tenetur! Nulla, quis.</span><span>Aliquam aliquid animi autem consectetur consequuntur culpa deserunt, dignissimos distinctio dolor doloribus facere harum iste itaque laboriosam laudantium, molestiae odit officiis porro rerum saepe sapiente similique suscipit tempora unde voluptatem.</span><span>Amet asperiores cumque debitis, ducimus, eaque eos et ex excepturi exercitationem harum ipsum, itaque iusto laudantium nam porro praesentium quae rerum veritatis? Aliquid assumenda enim, est nihil totam voluptatem voluptatibus.</span></p>
  </div>
</main>
</body>
</html>