<!DOCTYPE html>
<html th:replace="~{layout/masterLayout :: layout(~{main})}" lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<main role="main">
  <div class="container mt-5">
    <h1 class="display-3">Admin Role and User Role for Main</h1>
    <p class="lead"><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores consequatur itaque minima necessitatibus nostrum odio, provident quidem reprehenderit saepe? Autem deleniti distinctio eligendi laudantium obcaecati perferendis quos rerum vero voluptates.</span><span>Accusamus atque, consectetur debitis deleniti eos incidunt labore laudantium libero necessitatibus neque, nihil officiis pariatur, perferendis placeat porro possimus quod sequi voluptates. At esse non officia repudiandae sequi tempore voluptatum.</span><span>Culpa mollitia placeat praesentium reiciendis repudiandae voluptatem. Consectetur cum inventore magni minus numquam, repellendus tempora! Dolorum fuga laboriosam magnam neque nobis, pariatur quibusdam quis recusandae repellat suscipit vel vitae voluptate!</span></p>
  </div>
</main>
</body>
</html>